
.card h1{
    text-transform: uppercase;
    color: hsl(0, 0%, 13%);
}
/* Reset básico */
*{  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Corpo */
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
    padding: 30px;
}

/* Área principal */
div{
    max-width: 1000px;
    margin: auto;
}

/* Título principal */
body > div h1{
    text-align: center;
    font-size: 42px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Texto principal */
body > div p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 35px;
}

/* Seção dos esportes */
.card{
    margin-top: 25px;
    padding: 20px;
    border-bottom: 2px solid rgba(255,255,255,0.3);
}

/* Nome do esporte */
.card h1{
    background-color: white;
    color: #1e3c72;
    padding: 12px;
    border-radius: 8px;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

/* Subtítulo */
.card h2{
    color: #ffd700;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 24px;
}

/* Texto */
.card p{
    text-align: justify;
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 12px;
}

/* Lista */
.card ul{
    padding-left: 25px;
}

.card li{
    margin-bottom: 8px;
    font-size: 16px;
}
/*falcão*/
.conteudo{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.conteudo img{
    border-radius: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th{
    background-color: #111;
    color: white;
}

td, th{
    text-align: center;
}
footer {
  text-align: center;
  padding: 24px;
  color: white;
  font-size: 0.95rem;
  background: rgba(0, 0, 0, 0.95);
   width: 100%;
    position: relative;
    left: 0;
}

@media (max-width: 768px) {
  .nav {
    justify-content: center;
    text-align: center;
  }

  .menu {
    justify-content: center;
  }

  header {
    padding: 70px 15px 50px;
  }

  header h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.8rem;
  }

  header p {
    font-size: 1rem;
  }

  .hero-box {
    padding: 25px 18px;
  }

  .imagem {
    height: 160px;
  }
}